@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <div class="row">
            <a href="@Url.Action("form_1a", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                <div class="col-md-4">
                    <div class="card form-1">
                        <div class="card-main">
                            <i class="fa fa-card fa-file-text"></i>
                            <div class="main-description">
                                <h2><strong>Form 1A</strong></h2>
                                <p>Birth Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("form_1b", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                <div class="col-md-4">
                    <div class="card form-1">
                        <div class="card-main">
                            <i class="fa fa-card fa-file-text"></i>
                            <div class="main-description">
                                <h2><strong>Form 1B</strong></h2>
                                <p>Birth-not Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("form_1c", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                <div class="col-md-4">
                    <div class="card form-1">
                        <div class="card-main">
                            <i class="fa fa-card fa-file-text"></i>
                            <div class="main-description">
                                <h2><strong>Form 1C</strong></h2>
                                <p>Birth Destroyed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>


        <div class="row">
            <a href="@Url.Action("form_2a", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                <div class="col-md-4">
                    <div class="card form-2">
                        <div class="card-main">
                            <i class="fa fa-card fa-file-text"></i>
                            <div class="main-description">
                                <h2><strong>Form 2A</strong></h2>
                                <p>Death Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("form_2b", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                <div class="col-md-4">
                    <div class="card form-2">
                        <div class="card-main">
                            <i class="fa fa-card fa-file-text"></i>
                            <div class="main-description">
                                <h2><strong>Form 2B</strong></h2>
                                <p>Death-not Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="row">
            <a href="@Url.Action("form_3a", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                <div class="col-md-4">
                    <div class="card form-3">
                        <div class="card-main">
                            <i class="fa fa-card fa-file-text"></i>
                            <div class="main-description">
                                <h2><strong>Form 3A</strong></h2>
                                <p>Marriage Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("form_3b", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                <div class="col-md-4">
                    <div class="card form-3">
                        <div class="card-main">
                            <i class="fa fa-card fa-file-text"></i>
                            <div class="main-description">
                                <h2><strong>Form 3B</strong></h2>
                                <p>Marriage-not Available</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("form_3c", null, new { area = string.Empty, controller = "Home" }, Request.Url.Scheme)">
                <div class="col-md-4">
                    <div class="card form-3">
                        <div class="card-main">
                            <i class="fa fa-card fa-file-text"></i>
                            <div class="main-description">
                                <h2><strong>Form 3C</strong></h2>
                                <p>Marriage Destroyed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
